/*
app.css - angular-card-app
Developed by Sankalp Lakhina [ sankalp.lakhina91@gmail.com ]
*/

/* 
Allow angular.js to be loaded in body, hiding cloaked elements until 
templates compile.  The !important is important given that there may be 
other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body {    
    font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000;
}

.icon-custom {
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 24px;
    cursor: pointer;
}

.icon-add {
    padding-left: 10px;
}

.icon-cursor {
    color: rgb(118, 118, 118);
    cursor: pointer;
}

.icon-cursor:hover {
    color: #000;
}

.reset-icon {
    float: right;
    margin-right: -100px;
    margin-top: 6px;
}

.reset-icon span {
    font-size: 15px;
}

#imaginary_container{
    margin-top:7%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.glyphicon-search:hover {
    color: blue;
}

.card-row-margin {
    margin: 18%;
    margin-top: 3%;
}

.thumbnail {
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    background: #FDFDFD;
}

.thumbnail .caption {
    padding-top: 0px;
}

.image-style {
    height: 250px; width: 100%;
}

.image-shadow {
    width: 261px;
    box-shadow: 10px 10px 5px #F0F0F0;
    margin-bottom: 5px;
}

.modal-dialog {
    width: 450px;
}

.list-view {
    margin: 7%;
    margin-top: 3%;
}

.list-view .thumbnail {
    padding: 15px;
    min-height: 282px;
    max-height: 282px;
}

.list-view .thumbnail .img-container {
    width: 25%;
    float: left;
}

.list-view .thumbnail .caption {
    float: right;
    width: 70%;
}

.modal-content {
    background: #FDFDFD;
}